option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DATABASE_HOST
    value: ec2-54-69-238-188.us-west-2.compute.amazonaws.com
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DATABASE_PORT
    value: 27017
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NODE_ENV
    value: lucy
