option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DATABASE_PORT_27017_TCP_ADDR
    value: ec2-54-69-238-188.us-west-2.compute.amazonaws.com
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: process.env.SERVER_PORT
    value: 3000
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NODE_ENV
    value: lucy
